.vscode
.npm-cache
src
tsconfig.json
.gitignore
out
node_modules/.bin
node_modules/@types
node_modules/typescript
node_modules/undici-types
node_modules/monaco-editor/dev
node_modules/monaco-editor/esm
node_modules/monaco-editor/min-maps
node_modules/monaco-editor/CHANGELOG.md
node_modules/monaco-editor/LICENSE
node_modules/monaco-editor/README.md
node_modules/monaco-editor/package.json
node_modules/monaco-editor/monaco.d.ts
node_modules/monaco-editor/dev/**
node_modules/monaco-editor/esm/**
node_modules/monaco-editor/min-maps/**
node_modules/monaco-editor/min/vs/basic-languages/**
node_modules/monaco-editor/min/vs/nls.messages.*.js
vsix_extracted
temp.zip
*.vsix
